@model WebEvent.API.Model.DTO.UserDto;

@{
    Layout = "AuthorizeLayout";
}
@{
    ViewData["Title"] = "Index";
}

<h1>Personal info</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <h5>@Model.FirstName</h5>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <h5>@Model.LastName</h5>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <h5>@Model.Email</h5>
            </div>

            <div class="form-group">
                <input type="submit" asp-controller="account" asp-action="edit-view" value="Edit Profile" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
